
.githubPreview{
	color: white;

	margin-top: 0em;
	margin-bottom: 0em;

	padding-top: 1em;
	padding-bottom: 1em;
}

.githubList{
	max-width: 560px;
	list-style: none;
}

.githubList li{
	float: none;
}

.githubList a{
	color: greenyellow;
}