.bg-hamburger{
	background-color: black;
	opacity: 0.85;
}

.bg-about{
	background-image: url("../img/about/clouds.jpg");
	min-height: fit-content;
}

.bg-about > div{
	margin-top: 2em;
	max-width: 750px;
}

.bg-sc2{
	background-image: url("../img/rts/sc2_04.jpg");
}

.bg-pacific{
	background-image: url("../img/rts/pacific_island01.jpg");
}

/*FPS*/
.bg-bms1{
	background-image: url("../img/fps/bms01.jpg");
}

.bg-bms2{
	background-image: url("../img/fps/bms02.jpg");
}

/*Jams*/
.bg-tortoise
{
	background-image: url("../img/jam/tortoise01.jpg");
}

.bg-steve{
	background-image: url("../img/jam/steve01.jpg");
}

.bg-newspaper{
	background-image: url("../img/jam/newspaper01.jpg");
}

.bg-kameleont{
	background-image: url("../img/jam/kameleont01.jpg");
}

.bg-party{
	background-image: url("../img/jam/party01.jpg");
}

/*Older*/
.bg-source{
	background-image: url("../img/older/hammer01.jpg");
}

.bg-warcraft{
	background-image: url("../img/older/warcraft01.jpg");
}

.bg-metal{
	background-image: url("../img/older/metal01.jpg");
}