.grid-group-two {
    /*grid-template-columns: repeat(auto-fill, 560px);
    grid-gap: 0.5em;*/
    display: block;
    max-width: 35em;
}

.grid-group-two > div{
	margin-top: auto;
	margin-bottom: auto;
	padding-right: 1em;
}

iframe {
    max-width: 100%;
}