.hamburger
{
	display: block;
	visibility: visible;
	position: relative;
	top: 1em;
	left: 1em;

	z-index: 1;

	-webkit-user-select: none;
	user-select: none;
}

.hamburger input
{
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;

	cursor: pointer;

	opacity: 0; /* hide this */
	z-index: 2; /* and place it over the hamburger */

	-webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
.hamburger span
{
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #000000;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
			  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
			  opacity 0.55s ease;
}

.hamburger span:first-child
{
	transform-origin: 0% 0%;
}

.hamburger span:nth-last-child(2)
{
	transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.hamburger input:checked ~ span
{
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: white;
}

/*
 * But let's hide the middle one.
 */
.hamburger input:checked ~ span:nth-last-child(3)
{
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.hamburger input:checked ~ span:nth-last-child(2)
{
	transform: rotate(-45deg) translate(0, -1px);
}

.hamburger input:checked ~ ul
{
	transform: none !important;
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
	position: fixed;
	width: 200px;
	margin: -100px 0 0 -50px;
	padding-left: 3.5em;
	padding-right: 0.5em;
	padding-top: 125px;
	height: 100%;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	/* to stop flickering of text in safari */
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
	padding: 10px 0;
	font-size: 22px;
	color: white;
}

.listPages{
	display: none;
}

.header-menu{
	visibility: hidden;
}

@media (min-width: 720px) {
	.hamburger {
		display: none;
   	}

	.listPages{
		display: flex;
	}
}