html, body
{
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  border: 0 none;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  outline: invert none 0;
  vertical-align: baseline;
}

ul{
  list-style: none;
  -webkit-padding-start: 20px;
}

ul li{
  float: left;
  padding-right: 1em;
}

ul li a{
  color: white;
  font-size: 2em;
}

.section{
  padding-top: 2em;
  padding-bottom: 2em;
}

.section > div{
  display: grid;
  max-width: 1200px;
  justify-content: center;
  margin: auto;

  background-color: rgba(0, 0, 0, 0.50);
  background-color: #0000007a;
  color: white;
  border-radius: 0.1em;
}

.section > div img{
  max-width: 90%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
}

.whiteframe{
  padding: 1em;
  background-color: white;
}

.content-center{
  display: flex;
  justify-content: center;
}